@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
:root {
  --background:#d7cec7;
  --headings: 'Jomhuria', cursive;
  --body: 'Roboto Mono', monospace;

}

html, *, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  padding: 0;
  margin: 0;
  
}

/*
====================================
          HEADER STYLING
====================================
*/

header{
  
  font-family: var(--headings);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 0;
  background: var(--background)

}

.name{
font-size: 2em;
color: rgb(243, 243, 243);
text-decoration: none;
margin-left: 1em;

}

.name:hover {
  color: rgb(61, 56, 56);

}


.name:hover::before{
  transform: scale(1,1);
}
/*
====================================
          NAV BAR
====================================
*/
.nav-toggle{
  display:none;
  }
  
  .nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after{
  display: block;
  background: rgb(0, 0, 0);
  height: 2px;
  width: 1.5em;
  border-radius: 2px;
  position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after{
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before{
  bottom: 6px;
  }
  
  
  .nav-toggle-label span::after{
    top: 6px;
  }
  
  .nav-toggle:checked ~ nav{
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 150ms ease-in-out 250ms;
  }
  
  nav{
    position: absolute;
    text-align: left;
    top: 100%;
    width: 100%;
    background: var(--background);
    transform-origin: top;
    transform: scale(1,0);
    transition: transform 300ms ease-in-out ;
  
  }
  
  nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  
  }
  
  nav li{
    margin-bottom: 1em;
    margin-left: 1em;
  }
  
  nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    position: relative;
    padding-top: 25px;
    }
  

    #projects{
      text-align: center;
      height: 100vh;
      width: auto;
      padding-top: 100px;
      display: flex;
      flex-direction: column;
    }

    .project-tile{
      margin: 5px;
      width: 250px;
      height: 250px;
    }

  
  /* 
  =============
  Media Queries 
  =============
  */
  
  @media screen and (min-width: 800px){
  
    .nav-toggle-label {
      display: none;
    }
  
    header {
      display: grid;
      grid-template-columns:  1fr auto minmax(600px, 3fr) 0.2fr ;
      background-color: rgb(255, 255, 255);
    }
    
  
  .name{
    grid-column: 1 / 3;
    padding-left: 2em;
      font-size: 2.8em;
      color: rgb(243, 243, 243);
      text-decoration: none;
      margin-left: 1em;
  }
  
  nav{
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
  }
  
  nav a {
    opacity: 1;
    font-size: 2.3em;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    
  }
  
  nav li{
    margin-left: 4em;
    margin-bottom: 0;
    font-size: 0.9em;
  }
  nav a:hover {
    color: rgb(61, 56, 56);
  }
  
  nav a::before {
    content: "";
    display: block;
    height: 2px;
    background: rgb(0, 0, 0);
    position: absolute;
    top: -.35em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms ;
  }

  nav a:hover::before{
    transform: scale(1,1);
  }
  }
  
  /*
============++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
HERO SECTION
============++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

main{
  width: auto;
  height: 100vh;
  padding-top: 100px;
  background: rgb(235, 235, 235);
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
}

.hero-image{
  border: #000000 4px solid;
  height: 11em;
  width: 11em;
  margin: auto;
  border-radius: 6em;
}

.my-image{
  max-width: 100%;
  max-height: 100%;
  border-radius: 6em;
}
.welcome-section{
  height: 100vh;
  width: 60%;
  margin: auto;
  text-align: center;
}

.welcome-section .title{
  font-family: var(--body);
  font-size: 2em;
  margin-bottom: 20px;
  padding-top: 2em;
}

.welcome-section .hero-body{
  font-family: var(--body);
  font-size: 1em;
}
.hero-body{   
font-family: var(--body);
font-size: 1em;
padding-top: 2em;
padding-bottom: 2em;

}


/*
==============
 ABOUT BUTTON
==============
*/
.git-but{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;

    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    }
    .git-but:hover{
    color:#ffffff;
    background-color:#3a3838;
    }

    @media all and (max-width:30em){
    .git-but{
    display:block;
    margin:0.4em auto;
  }
}

/*
==============
SKILLS PROFILE
==============
*/

#projects{
  height: 100vh;
  background-color: rgb(248, 221, 221);
  width: auto;
  padding-top: 100px;
  padding-left: 20%;
  padding-right: 20%;
}

.project-tile{
  font: var(--body);
  border: 2px black solid;
}

.p-image{
  width: 70%;
}